{% extends "base.html" %}

{% block content %}
    <h2>All Companies</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{ company[0] }}</td>
                <td><a href="{{ company[1] }}" target="_blank">{{ company[1] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}" class="btn">Back to Home</a>
{% endblock %}